@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";



@import "./fonts.css";
@import "./bp3_overrides.css";

:root {
  --buttonWidth:40px;

  --buttonOffset:-30px;
  --buttonOffsetInactive:-15px;

  --headerSpace:35px;
  --footerSpace:20px;

  --primaryColor: #2d72d2;

  --leftPanelWidth:270px;

  font-family: Saira-Regular;
}

*{
  margin: auto;
  /* color: #333; */
}

a {
    text-decoration: none;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--headerSpace);
  /* border-bottom: 1px solid var(--borderColor); */

  z-index: 61 !important;

  display: flex;
  justify-content: space-between;

  /* box-shadow: 0px 1px 4px #AAAAAA; */
  -webkit-app-region: drag;

  justify-content: space-between;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: var(--footerSpace);
  /* border-bottom: 1px solid var(--borderColor); */

  z-index: 61 !important;

  display: flex;
  justify-content: space-between;

  justify-content: space-between;
}

#main-content {
  position: fixed;
  left: 0px;
  width: 100%;
  top: var(--headerSpace);
  bottom: var(--footerSpace);

  display: flex;
  flex-direction: column;
  justify-content:center;

  height: calc(100% - var(--headerSpace) - var(--footerSpace));
  
  overflow-y: scroll;
  overflow-x: hidden;

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#main-content::-webkit-scrollbar {
  display: none;
}

#left-panel {
  max-width: 50%;
  left: 0 !important;
  width: var(--leftPanelWidth);
  height: calc(100% - (var(--footerSpace) + var(--headerSpace)));
}

.panel {
  top:var(--headerSpace);
  border-width: 5px;
  position: fixed !important;
  height: 100%;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.18);
  z-index:49;
  transition: ease-out width 0.2s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.header-container{
  flex-wrap: nowrap;
  width:auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.header-container-left{
  flex-wrap: nowrap;

  padding-right: 0px;
  display: flex;
  text-align: end;
  margin-left: 20px;
}

.header-container-right{
  flex-wrap: nowrap;

  padding-left: 0px;
  display: flex;
  text-align: end;
  margin-right: 20px;
}

.header-title{
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
}

.header-logo{
  width: calc(var(--headerSpace) - 12px);
  height: calc(var(--headerSpace) - 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
}

.header-button{
  -webkit-app-region: no-drag !important;
}

.header-button:focus{
  outline: none;
}

.header-sub-flex-box{
  display: flex;
  align-items: center;
  height: var(--headerSpace);
  position: relative;
  top: 0;
  margin: unset;
  /* width: 33%; this is set by header component */
}

.header-tooltip-button {
  width: 100%;
  display: inline;
  text-align: center;
  min-height: calc(var(--headerSpace) - 10px) !important;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: var(--footerSpace);
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: var(--footerSpace);
}

.footer-right > .bp3-popover-wrapper {
  margin: 0;
}

.main-logo{
  width: 500px;
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect{
  user-select: none;
}

.nomargin{
  margin: 0px;
}

.App {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardColorPickerButton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  border: #000000 solid 1px;
}

.image-upload{
  width: 600px;
  height: 600px;
  border-radius: 20%;
  object-fit: cover;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.image-upload > p{
  font-size: xx-large;
  font-weight: bold;
  color: #333;
  margin: 20px;
  text-align: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.margin20{
  margin: 20px;
}

.slider-title{
  font-size: x-large;
  font-weight: bold;
  color: #333;
  width: 200px;
}

.disabled{
  opacity: 0.6;
  cursor: not-allowed;
}

.grid{
  background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
  background-size: 3em 3em;
}

.heatmap-grid{
  background-image: linear-gradient(rgba(0, 255, 0, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, .7) .1em, transparent .1em);
  background-size: 80px 80px;
  border-right: 1px solid rgba(0, 255, 0, .7);
  border-bottom: 1px solid rgba(0, 255, 0, .7);
}

.floating-button{
  position: absolute;
  height:var(--buttonWidth);
  width:var(--buttonWidth);
  box-shadow:   -1px 2px 6px 1px rgba(0,0,0,0.2) !important   ;
  border-radius: 6px;
  z-index: 100;
  right: 8px;
  top: 8px !important;
}

.panel-button {
  position: absolute;
  height:var(--buttonWidth);
  width:var(--buttonWidth);
  /* top: 4px; */
  top: 40%;

  border-radius: 6px;
  z-index: 100;
}

.annotations-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  justify-content: flex-start;
}

.annotation-button-in-panel {
  display: flex;
  justify-content: flex-start;
  min-height: 40px !important;
}

.annotation-button-in-panel > .bp3-button-text {
  margin: 0px;
}

.page{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.page::-webkit-scrollbar {
  display: none;
}

.static {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: absolute;
}

.static-hexagon-grid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -21px 0;
  width: fit-content;
  align-self: center;
}

.static-hexagon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-hexagon-button-text {
  font-weight: normal;
  position: absolute;
  width: 200px;
  text-align: center;
}

.interactable {
  transition: all 0.2s;
  cursor: pointer;
}

.interactable:hover {
  transform: scale(1.1);
}

.annotated-images-panel{
  width: 245px;
  max-height: 60vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  overflow-y: scroll;
  padding-bottom: '20px',
}

.settings-page {
  width: 70vw;
  height: 70vh;
}

.settings-tab {
  width: 100%;
}

.settings-title {
  margin-bottom: 20px;
}

.settings-card {
  display: flex;
  margin: -10px;
}

.settings-card > p {
  width: 100%;
  align-self: center;
  font-size: medium;
  margin-bottom: 0;
}

.open-margin-left {
  /* position: relative !important; */
  right:var(--buttonOffset);
  right: 0px;
  margin: -20px;
  /* top: 4px !important;    */
}
.closed-margin-left {
  /* left:var(--buttonOffset); */
  /* position: relative !important; */
  right: -60px;
   /* left: 4px; */
  top: 15px !important;
}

.button-animation{
  transition: left 0.2s;
  transition: right 0.2s;
}

.inline-box-important{
  display: -webkit-inline-box !important;
}

.resizer {
  display: inline-block;
  width: 100%;
  height: 20px;
  border: 1px solid #313131;
  background-color: #313131;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  margin: 10px 0;
  cursor: row-resize;
}

.toaster{
  z-index: 60;
  /* margin-top: 80px; */
  margin-top: 40px;
}

.manual-annotator-toolbar{
  position:fixed;
  top: calc(var(--headerSpace) + 10px);
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  backdrop-filter: blur(10px);
}

.manual-annotator-mode-button{
  position:fixed;
  bottom: 25px;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  backdrop-filter: blur(10px);
}

.custom-tooltip {
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #999;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label {
  margin: 0;
  padding: 0;
  color: #333;
  display: inline;
}

.image-navigator-image-name {
  align-self: center;
  margin: 0px;
  max-width: 100px;
  min-width: 100px;
  justify-content: center;
  text-align: center;
}

.ellipsis-overflow {
  overflow-wrap: normal;
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflow text */
  text-overflow: ellipsis; /* Display an ellipsis for clipped text */
  font-weight: normal;
}

.shortcut-settings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.shortcut-settings > p{
  margin: 0px;
}

.footer-zoom-icon {
  height: var(--footerSpace);
  width: var(--footerSpace);
  display: flex;
  margin: 0 5px;
}

.footer-zoom-icon:hover {
  background-color: #99999988;
}

.backend-status-indicator {
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  padding: 0 10px;
  height: var(--footerSpace);
}

.offline {
  background-color: #771111;
  cursor: pointer;
}
.offline:hover {
  background-color: #550000;
  cursor: pointer;
}

.connecting {
  background-color: #666666;
  cursor: default;
}

.online {
  background-color: #116622;
  cursor: default;
}

.zoom-slider {
  position: fixed;
  bottom: 80px;
  right: 20px;
  margin: 5px;
  backdrop-filter: blur(10px);
  padding: 6px 1px;
  border-radius: 6px;
}

.zoom-slider-slider > .bp3-slider-handle {
  height: 5px;
  right: 0;
}

.zoom-slider-slider > .bp3-slider-track {
  left: 0 !important;
  background-color: #ddd;
}

.cell-type-info-toggle-button {
  position: fixed;
  bottom: 25px;
  right: 20px;
  margin: 5px;
  backdrop-filter: blur(10px);
  padding: 6px 1px;
  border-radius: 6px;
  min-width: 44px !important;
  min-height: 44px !important;
}

.cell-type-info {
  position: fixed;
  bottom: 25px;
  right: 80px;
  margin: 5px;
  backdrop-filter: blur(10px);
  padding: 6px 1px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.cell-type-info-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.cell-type-info-row > p {
  margin: 0 0 0 5px;
  width: 100%;
}

.image-navigator-buttons {
  height: 40px;
  position: fixed;
  bottom: 30px;
  border-radius: 6px;
  right: calc(var(--buttonOffset) + 48px);
  backdrop-filter: blur(10px);
  left: 0;
  width: fit-content;
}

.image-navigator-buttons > .bp3-small {
  max-height: 20px !important;
  min-height: unset !important;
}

.recently-opened-folders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 500px;
}

.recently-opened-folder-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 490px;
}

.recently-opened-folder-title {
  width: 50%;
  font-size: 14px;
  font-weight: normal;
}

.recently-opened-folder-parent {
  width: 50%;
  font-size: 12px;
  font-weight: 200;
  text-align: right;
}

.shadowed {
  box-shadow: -1px 2px 6px 1px rgb(0 0 0 / 20%) !important;
}

#beehive-container {
  align-items: center;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: scale 0.2s;
  transform-origin: top left;
}

.beehive-cell {
  position: absolute;
  transition: scale 0.2s;
  cursor: pointer;
}

.beehive-cell:hover {
  scale: 1.1;
}

.hexagon-svg {
}

.occluding-bee-svg{
  position: absolute;
  left: 0;
  top: -3px;
  bottom: 0;
  right: 0;
}

.cell-detail-dialog {
  width: 50%;
  height: 30%;
}

.cell-detail-dialog > .bp3-dialog-header {
  width: 100%;
}

.cell-detail-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
